@model UsersApp.ViewModels.ChangePasswordViewModel

@{
    ViewData["Title"] = "Change User Password";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";

}

<div class="account-container">
    <div class="account-box">
        <h2 class="text-center mp-4">Change Password</h2>
<form asp-action="ChangeUserPassword" method="post">
            <div class="mp-3">
        <input type="hidden" asp-for="UserId" />
        <input type="hidden" asp-for="Token" />
                <label asp-for="NewPassword" class="form-label"></label>
        <input asp-for="NewPassword" class="form-control" />
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>
            <div class="mp-3">
                <label asp-for="ConfirmNewPassword" class="form-label"></label>
        <input asp-for="ConfirmNewPassword" class="form-control" />
        <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
    </div>
        <input type="submit" value="Change Password" class="btn btn-primary" />
</form>
</div></div>